@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", sans-serif;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

html {
  background-color: #f5f5f7;
  
}

body {
  overflow-x: hidden;
  /* margin: auto; */
}

/* main {
  
} */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}

/* Header section */
.header {
  top: 0;
  z-index: 10;
  height: 44px;
  position: fixed;
  inset-inline: 0;
  column-gap: 24px;
  background-color: #f5f5f7;
}

.header__link {
  font-size: 12px;
  color: #333336;
  white-space: nowrap;
  text-decoration: none;
}

.header__icons {
  column-gap: 24px;
}

.header__icon {
  width: 30px;
}

.header__icon--image--menu {
  display: none;
}

.ribbon {
  height: 60px;
  width: 100vw;
  font-size: 14px;
  color: #1d1d1f;
  margin-top: 44px;
  font-weight: 400;
  background-color: #fff;
  white-space: nowrap;
  overflow: visible;
}

.gradient-header {
  width: 100vw;
  height: 75px;
  object-fit: fill;
}

.store-container {
  display: flex;
  width: 100%;
  padding: 80px 0;
  padding-left: 140px;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
}

.store-header {
  column-gap: 32px;
}

.rainbow-text {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 50%,
    #f2416b 100%
  );
}

.store-title {
  font-size: 48px;
  font-weight: 700;
  flex-shrink: 0;
  white-space: nowrap;

}

.store-subtitle {
  color: #6e6e73;
  font-size: 44px;
  font-weight: 700;
  white-space: nowrap;
  
}

.store-support {
  display: flex;
  row-gap: 16px;
  flex-direction: column;
  width: 226px;
  height: 100px;
}

.support-item {
  display: flex;
  column-gap: 16px;
  justify-content: space-between;
}

.support-icon {
  width: 35px;
  height: 35px;
}
.support-icon__image {
  object-fit: cover;
  aspect-ratio: 1/1;
  width: 35px;
  height: 35px;
}

.support-details {
  width: 175px;
  height: 40px;
}

.support-title {
  font-size: 14px;
  margin-bottom: 4px;
}

.link {
  text-decoration: none;
}
.cards-house-container {
  width: 100%;
  padding-left: 140px;
  height: auto ; 
  overflow-x: scroll;
  margin-bottom: 60px;
}



.cards-house {
  width: 1756px;
  height: auto ; 
  /* 146px */
  display: flex;
  gap: 12px;
}

.cards-house__products {
  width: 136px;
  height: 146px;
  flex-direction: column;
  flex-shrink: 0;
  scroll-snap-align: start;
}
.cards-house__products--11 {
  margin-right: 140px;
}

.products-image {
  width: 120px;
  height: 78px;
  object-fit: contain;
  display: flex;
  margin-bottom: 16px;
}

.products-explanation {
  padding-top: 2px;
  /* font-weight: 700; */
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #1d1d1f;
}

.latest {
  width: 100%;
  height: 558px;
}

.latest-text {
  width: 100%;
  height: 34px;
  margin-bottom: 24px;
  display: flex;
  gap: 6px;
  padding-left: 140px;
}
.latest-title {
  font-size: 24px;
  font-weight: 700;
  white-space: nowrap;
}
.latest-subtitle {
  font-size: 24px;
  color: #6e6e73;
  font-weight: 700;
  white-space: nowrap;
}

.latest-wonders-container {
  width: 100vw;
  height: auto;
  
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  padding-left: 140px;
 
}

.latest-wonders-container1 {
  width: 5980px;
  height: 500px;
  padding-right: 140px;
  display: flex;
  align-items: center;
  gap: 20px;
  
}

.latest-wonders {
  width: 480px;
  height: 500px;
  background-size: contain;
  border-radius: 18px;
  scroll-snap-align: center;
  background: var(--background-image) center / cover no-repeat;
}
.latest-wonders__apple-intelligence {
  font-size: 12px;
  line-height: 16px;
  /* font-weight: 700; */
  width: 160px;
  height: 14px;
  margin-bottom: 9px;
  margin-top: 31px;
  margin-left: 30px;
  color: #b64400;
}
.latest-wonders__products-name {
  width: 322px;
  height: 32px;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #1d1d1f;
  margin-left: 30px;
  margin-bottom: 12px;
}
.latest-wonders__price-info {
  width: 322px;
  height: 20px;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0;
  color: #1d1d1f;
  margin-left: 30px;
}

.personalization {
  width: 100%;
  height: 558px;
  
  margin-top: 60px;
}

.personalization-text {
  width: 100%;
  height: 34px;
  margin-bottom: 24px;
  padding-left: 140px;
  display: flex;
  gap: 6px;
}

.personalization-title {
  font-size: 24px;
  font-weight: 700;
  white-space: nowrap;
}
.personalization-subtitle {
  font-size: 24px;
  color: #6e6e73;
  font-weight: 700;
  white-space: nowrap;
}

.personalization-container {
  width: 100vw;
  height: auto;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  padding-left: 140px;
}

.personalizaton-container1 {
  width: 3730px;
  height: 500px;
  padding-right: 140px;
  gap: 20px;
  display: flex;
  justify-content: center;
}

.personalization-item {
  width: 313px;
  height: 500px;
  background-size: contain;
  display: flex;
  border-radius: 18px;
  background: var(--background-image) center / cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  scroll-snap-align: center;
}
.personalization-item--special {
  display: block;
}
.personalization-item__text {
  width: 257px;
  height: 109px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 359px;
  left: 28px;
}
.personalization-item__text__feature {
  width: 257px;
  height: 15px;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #b64400;
}
.personalization-item__text__product {
  width: 257px;
  height: 40px;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #1d1d1f;
}
.personalization-item__text__price {
  width: 257px;
  height: 16px;
  font-size: 14px;
  line-height: 18px;
  color: #1d1d1f;
}
.personalization-item__text--special {
  width: 197px;
  height: 66px;
  margin-top: 53px;
  margin-left: 30px;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #1d1d1f;
}
.personalization-photo {
  width: 230px;
  height: 230px;
  object-fit: contain;
  margin-top: 71px;
}
.personalization-photo1 {
  width: 253px;
  height: 58px;
  object-fit: contain;
}

.personalization-item--special {
  width: 400px;
}

.holiday {
  width: 100%;
  height: 558px;
  
  margin-top: 60px;
}

.holiday-text {
  width: 100%;
  height: 34px;
  margin-bottom: 24px;
  display: flex;
  gap: 6px;
  padding-left: 140px;
}

.holiday-title {
  font-size: 24px;
  font-weight: 700;
  white-space: nowrap;
}
.holiday-subtitle {
  font-size: 24px;
  color: #6e6e73;
  font-weight: 700;
  white-space: nowrap;
}

.holiday-container {
  width: 100vw;
  height: auto;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  padding-left: 140px;
}

.holiday-container1 {
  width: 3484px;
  height: 500px;
  padding-right: 140px;
  gap: 20px;
  display: flex;
  justify-content: center;
}

.holiday-item {
  width: 313px;
  height: 500px;
  background-size: contain;
  display: flex;
  border-radius: 18px;
  background: var(--background-image) center / cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  scroll-snap-align: center;
}
.holiday-item--special {
  display: block;
}
.holiday-item__text {
  width: 257px;
  height: 109px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 359px;
  left: 28px;
}
.holiday-item__text__feature {
  width: 257px;
  height: 15px;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #b64400;
}
.holiday-item__text__product {
  width: 257px;
  height: 40px;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #1d1d1f;
}
.holiday-item__text__price {
  width: 257px;
  height: 16px;
  font-size: 14px;
  line-height: 18px;
  color: #1d1d1f;
}
.holiday-item__text--special {
  width: 197px;
  height: 66px;
  margin-top: 53px;
  margin-left: 30px;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #1d1d1f;
}
.holiday-photo {
  width: 230px;
  height: 230px;
  object-fit: contain;
  margin-top: 71px;
}
.holiday-photo1 {
  width: 253px;
  height: 58px;
  object-fit: contain;
}

.holiday-item--special {
  width: 400px;
}

/* Only at Apple (Shopping) */

.shopping {
  width: 100%;
  height: 558px;
  
  margin-top: 60px;
}

.shopping-text {
  width: 100%;
  height: 34px;
  margin-bottom: 24px;
  display: flex;
  gap: 6px;
  padding-left: 140px;
}

.shopping-title {
  font-size: 24px;
  font-weight: 700;
  white-space: nowrap;
}
.shopping-subtitle {
  font-size: 24px;
  color: #6e6e73;
  font-weight: 700;
  white-space: nowrap;
}

.shopping-container {
  width: 100vw;
  height: auto;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  padding-left: 140px;
}

.shopping-container1 {
  width: 3286px;
  height: 500px;
  padding-right: 140px;
  gap: 20px;
  display: flex;
  justify-content: center;
}

.shopping-item-large {
  width: 480px;
  height: 500px;
  background-size: contain;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  scroll-snap-align: center;
  background: var(--background-image) center / cover no-repeat;
}
.shopping-item-large__text {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  margin-top: 50px;
  margin-left: 30px;
}
.shopping-item-large__brand-name {
  width: 131px;
  height: 14px;
  margin-top: 31px;
  margin-left: 30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #6e6e73;
}
.shopping-item-large__text1 {
  width: 331px;
  height: 96px;
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  color: #1d1d1f;
  margin-top: 9px;
  margin-left: 30px;
}

.shopping-item-small-container {
  width: 646px;
  height: 500px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  scroll-snap-align: center;
}
.shopping-item-small {
  width: 313px;
  height: 240px;
  border-radius: 18px;
  background-color: #ffffff;
}
.shopping-item-small__context {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0;
  color: #1d1d1f;
  margin-left: 30px;
}
.shopping-item-small__context--deed {
  margin-top: 82px;
}
.shopping-item-small__context--dood {
  margin-top: 68px;
}

/* The Apple experience */
.experience {
  width: 100%;
  height: 558px;
  
  margin-top: 60px;
}

.experience-text {
  width: 100%;
  height: 34px;
  margin-bottom: 24px;
  display: flex;
  gap: 6px;
  padding-left: 140px;
}

.experience-title {
  font-size: 24px;
  font-weight: 700;
  white-space: nowrap;
}
.experience-subtitle {
  font-size: 24px;
  color: #6e6e73;
  font-weight: 700;
  white-space: nowrap;
}

.experience-container {
  width: 100vw;
  height: auto;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.experience-container1 {
  width: 4480px;
  height: 500px;
  padding-right: 140px;
  gap: 20px;
  display: flex;
  justify-content: center;
  padding-left: 140px;
}

.experience-item {
  width: 480px;
  height: 500px;
  background-size: contain;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  scroll-snap-align: center;
  background: var(--background-image) center / cover no-repeat;
}

.experience-item-large__text {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  margin-top: 50px;
  margin-left: 30px;
}
.experience-item-large__brand-name {
  width: 131px;
  height: 14px;
  margin-top: 31px;
  margin-left: 30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #6e6e73;
}
.experience-item-large__brand-name--white {
  color: #ffffff;
}
.experience-item-large__text1 {
  width: 331px;
  /* height: 96px; */
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  color: #1d1d1f;
  margin-top: 9px;
  margin-left: 30px;
}
.--white {
  color: #ffffff;
}
.experience-item-large__text2 {
  width: 359px;
  height: 41px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #1d1d1f;
  margin-top: 10px;
  margin-left: 30px;
}

/* Special Savings */
.savings {
  width: 100%;
  height: 590px;
  
  margin-top: 60px;
}

.savings-text {
  width: 100%;
  height: 68px;
  margin-bottom: 22px;
  padding-left: 140px;
}
.savings-text1 {
  width: 831px;
  height: 34px;
  gap: 6px;
  display: flex;
}
.savings-title {
  font-size: 24px;
  font-weight: 700;
}
.savings-subtitle {
  font-size: 24px;
  color: #6e6e73;
  font-weight: 700;
  white-space: nowrap;
}
.savings-container {
  width: 100vw;
  height: auto;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  padding-left: 140px;
}

.savings-container1 {
  width: 2500px;
  height: 500px;
  padding-right: 140px;
  gap: 20px;
  display: flex;
  justify-content: center;
}

.savings-item {
  width: 400px;
  height: 500px;
  background-size: contain;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  scroll-snap-align: center;
  background: var(--background-image) center / cover no-repeat;
}

.savings-item-large__brand-name {
  width: 150px;
  height: 14px;
  margin-top: 31px;
  margin-left: 30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #6e6e73;
}

.savings-item-large__text1 {
  width: 331px;
  /* height: 96px; */
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  color: #1d1d1f;
  margin-top: 9px;
  margin-left: 30px;
}
.savings-item-large__text2 {
  width: 259px;
  /* height: 41px; */
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #1d1d1f;
  margin-top: 10px;
  margin-left: 30px;
}

.quick-links {
  width: 100vw;
  height: 96px;
  
  margin-bottom: 100px;
  margin-top: 60px;
  padding-left: 140px;
}

.quick-links-text {
  width: 100%;
  height: 32px;
  margin-bottom: 24px;
}

.quick-links-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 12px;
  flex-wrap: wrap;
}


.quick-links__item {
  padding: 8px 15px;
  border-radius: 999px;
  font-size: 14px;
  line-height: 20px;
  color: #1d1d1f;
  background-color: transparent;
  border: 1px solid #1d1d1f;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}



/* Hover */
/* Hover state for link */
.quick-links__item:hover {
  background-color: #1d1d1f;
  color: #ffffff;
}

/* Prevent arrow from being underlined */
.quick-links__item:hover .underline-arrow {
  text-decoration: underline;
}




.latest-wonders:hover,
.personalization-item:hover,
.holiday-item:hover,
.shopping-item-large:hover,
.shopping-item-small:hover,
.experience-item:hover,
.savings-item:hover {
  transform: scale(1.005); 
  transition: transform 0.3s ease; /* smooth animation */
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08), -2px -4px 12px rgba(0, 0, 0, 0.08);
}

