@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Inter", serif;
}



html {
    scroll-behavior: smooth;
    background-color: #F5F5F7;
}


body {
    overflow-x: hidden;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-center {
    display: flex;
    align-items: center;
}

/* Header section */
.header {
    top: 0;
    z-index: 10;
    height: 44px;
    position: fixed;
    inset-inline: 0;
    column-gap: 24px;
    background-color: #F5F5F7;
}

.header__link {
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
    text-decoration: none;
}

.header__icons {
    column-gap: 24px;
}

.header__icon {
    width: 30px;
}

.header__icon--image--menu {
    display: none;
}

.ribbon {
    height: 60px;
    width: 100%;
    font-size:14px;
    color: #1D1D1F;
    margin-top: 44px;
    font-weight: 400;
    background-color: #FFF;
}

.gradient-header {
    width: 100vw;
    height: 75px;
    object-fit: contain;
}

.store-container {
    display: flex;
    padding: 80px 0;
    margin-left: 140px;
    align-items: center;
    justify-content: space-between;
    
}

.store-header {
    column-gap: 32px;
}

.rainbow-text {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
}

.store-title {
  font-size: 48px;
  font-weight: 700;
}

.store-subtitle {
  color: #6e6e73;
  font-size: 44px;
  font-weight: 700;
}

.store-support {
  display: flex;
  row-gap: 16px;
  flex-direction: column;
  width: 226px;
  height: 100px;
}

.support-item {
  display: flex;
  column-gap: 16px;
  justify-content: space-between;
}

.support-icon {
    width: 35px;
    height: 35px;
    
}
.support-icon__image {
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 35px;
    height: 35px;
}

.support-details {
    width: 175px;
    height: 40px;
}

.support-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px;
}

.link {
    text-decoration: none;
}

.cards-house {
    width: 100%;
    height: 146px;
    display: flex;
    margin-left: 140px;
    margin-bottom: 60px;
}


.cards-house__products{
    width: 136px;
    height: 146px;
    flex-direction: column;
    
}

.products-image {
    width: 120px;
    height: 78px;
    object-fit: contain;
    display: flex;
}

.products-explanation {
    padding-top: 2px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color: #1D1D1F;
}

.latest {
    width: 100%;
    height: 558px;
    margin-left: 140px;
}

.latest-text {
    width: 100%;
    height: 34px;
    margin-bottom: 24px;
}

.latest-wonders-container {
    width: 1640px;
    height: 500px;
    
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
}

.latest-wonders-container1 {
    width: 5980px;
    height: 500px;
    display: flex;
    gap: 20px;
}

.latest-wonders {
    width: 480px;
    height: 500px;
    background-size: contain;
    border-radius: 18px;
    background: var(--background-image) center / cover no-repeat;
    
}

.personalization {
    width: 100%;
    height: 558px;
    margin-left: 140px;
    margin-top: 60px;
}

.personalization-text {
    width: 100%;
    height: 34px;
    margin-bottom: 24px;
}

.personalization-container {
    width: 1640px;
    height: 500px;
    
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
}

.personalizaton-container1 {
    width: 3730px;
    height: 500px;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.personalization-item {
    width: 313px;
    height: 500px;
    background-size: contain;
    display: flex;
    border-radius: 18px;
    background: var(--background-image) center / cover no-repeat;
}

.personalization-item--special {
    width: 400px;
}

.holiday {
    width: 100%;
    height: 558px;
    margin-left: 140px;
    margin-top: 60px;
}

.holiday-text {
    width: 100%;
    height: 34px;
    margin-bottom: 24px;
}

.holiday-container {
    width: 1640px;
    height: 500px;
    
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
}

.holiday-container1 {
    width: 3730px;
    height: 500px;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.holiday-item {
    width: 313px;
    height: 500px;
    background-size: contain;
    display: flex;
    border-radius: 18px;
    background: var(--background-image) center / cover no-repeat;
}

.holiday-item--special {
    width: 400px;
}

/* Only at Apple (Shopping) */

.shopping {
    width: 100%;
    height: 558px;
    margin-left: 140px;
    margin-top: 60px;
}

.shopping-text {
    width: 100%;
    height: 34px;
    margin-bottom: 24px;
}

.shopping-container {
    width: 1640px;
    height: 500px;
    
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
}

.shopping-container1 {
    width: 3730px;
    height: 500px;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.shopping-item {
    width: 313px;
    height: 500px;
    background-size: contain;
    display: flex;
    border-radius: 18px;
    background: var(--background-image) center / cover no-repeat;
}

.shopping-item--special {
    width: 400px;
}

/* The Apple experience */
.experience {
    width: 100%;
    height: 558px;
    margin-left: 140px;
    margin-top: 60px;
}

.experience-text {
    width: 100%;
    height: 34px;
    margin-bottom: 24px;
}

.experience-container {
    width: 1640px;
    height: 500px;
    
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
}

.experience-container1 {
    width: 3730px;
    height: 500px;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.experience-item {
    width: 313px;
    height: 500px;
    background-size: contain;
    display: flex;
    border-radius: 18px;
    background: var(--background-image) center / cover no-repeat;
}

.experience-item--special {
    width: 400px;
}

/* Special Savings */
.savings {
    width: 100%;
    height: 590px;
    margin-left: 140px;
    margin-top: 60px;
}

.savings-text {
    width: 100%;
    height: 66px;
    margin-bottom: 24px;
}

.savings-container {
    width: 1640px;
    height: 500px;
    
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
}

.savings-container1 {
    width: 3730px;
    height: 500px;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.savings-item {
    width: 313px;
    height: 500px;
    background-size: contain;
    display: flex;
    border-radius: 18px;
    background: var(--background-image) center / cover no-repeat;
}

.savings-item--special {
    width: 400px;
}

.quick-links {
    width: 1920px;
    height: 96px;
    margin-left: 140px;
}

.quick-links-text {
    width: 100%;
    height: 32px;
    margin-bottom: 24px;
}

.quick-links-list {
    display: flex;
    align-items: center;
    list-style-type: none;
}


.quick-links__item {
    padding: 8px 15px;
    border-radius: 999px;
    background-color: #f2416b;
}